<ion-content>

  <ion-img class="img" src="../../assets/img/thera.png"></ion-img>

  <form>
    
    <ion-item lines="none" class="item">
      <ion-icon class="icon" name="person-circle-outline" slot="start"></ion-icon>
      <ion-input class="inputText" placeholder="Login"></ion-input>
    </ion-item>

    <ion-item lines="none" class="item">
      <ion-icon class="icon" name="eye" slot="start"></ion-icon>
      <ion-input class="inputText" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class="button" type="submit" expand="block">LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
