
ion-content{

  --ion-background-color:#054374;
}

.img{
  position: relative;
  height: 80%;
  width: 80%;
  margin-left: 10%;
}

.name{
  position: relative;
  color:white;
  margin-top: 10%;
  font-weight: bold;
  font-size: 18pt;
}

.buttonNotSelect{
  
  background-color: transparent;
  border-radius: 1px solid white;
  color: white;
}

.buttonSelect{

  --background:yellow;
  color:#054374;

}

.input{
  background-color: white;
}

.subText{
  text-align: center;
  color: yellow;
  font-size: 12pt;
  font-weight: 700;

}

