

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img class="img" src="../../assets/img/thera.png"></ion-img>
          </ion-col> 
          <ion-col size="6">
            <p class="name">Olá {{name}}</p>
          </ion-col>
          <ion-col size="2">
            <ion-icon class="icon" name="person-circle-outline" slot="end"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div style=" display: flex;">
      <p style="position: relative; margin-left: 20%; color:white; font-size: 14pt; font-weight: bold ;">29/06/2021</p>
      <p style="position: relative; margin-left: 20%;color:white; font-size: 14pt; font-weight: bold ;">17:14:32</p>
    </div>
    
    <p style="text-align: center; color:yellow; font-size: 14pt; font-weight: bold ;">Tempo 07/23/37</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="buttonSelect">CHEGUEI</ion-button>

          <ion-button class="buttonNotSelect">VOLTEI</ion-button>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">DATA</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">HORA DO ALMOÇO</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">HORA FIM</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button class="buttonNotSelect">FUI ALMOÇAR</ion-button>

          <ion-button class="buttonNotSelect">FUI</ion-button>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">HORA INÍCIO</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">ALMOÇO FIM</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="subText" position="stacked">TEMPO</ion-label>
            <ion-input class="input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>
</ion-content>
